.switchContainer {
  display: flex;
  justify-content: flex-end;
  padding: 20px 0;
}

.switchBase {
  width: 60px;
  height: 32px;
  border-radius: 20px;
  border: none;
  cursor: pointer;
  position: relative;
  display: flex;
  align-items: center;
  padding: 4px;
  transition: background-color 0.4s ease;
  box-shadow: inset 0 2px 5px rgba(0,0,0,0.2);
  background-color: var(--input-bg);
}


.circle {
  width: 24px;
  height: 24px;
  background-color: white;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  box-shadow: 0 2px 4px rgba(0,0,0,0.3);
}

.dark .circle {
  transform: translateX(28px);
}

.light .circle {
  transform: translateX(0);
}

.icon {
  font-size: 14px;
  user-select: none;
}