.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: 'Inter', sans-serif;
}

.searchWrapper {
  display: flex;
  align-items: center;
  gap: 15px;
  margin: 0 auto;
}

.inputCard {
  position: relative;
  overflow: visible !important;
  background-color: var(--input-bg);
  border-radius: 10px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column;
  width: 80vw;
  max-width: 700px;
}

.inputCardError {
  border: 1px solid #ff4d4d;
}

.labelRow {
  display: flex;
  align-items: center;
  gap: 8px;
  padding-top: 10px;
}

.labelText {
  color: var(--input-label);
  opacity:0.5;
  font-size: 12px;
  letter-spacing: 0.5px;
  margin-left: 15px
}

.statusDot {
  width: 8px;
  height: 8px;
  background-color: #ff4d4d;
  border-radius: 50%;
  box-shadow: 0 0 5px #ff4d4d;
}

.customInput {
  background-color: var(--input-bg);
  border:none;
  border-radius: 10px;
  padding: 15px 15px;
  padding-top: 4px;
  color: var(--input-text);
  font-size: 18px;
  outline: none;
  width: 80%;
}

.customInput::placeholder {
  color: var(--input-placeholder);
  opacity:0.2
}

.searchBtn {
  background-color: var(--search-btn-bg);
  border: none;
  border-radius: 10px;
  width: 70px;
  height: 70px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
  font-size: 28px;
  position: relative; 
  z-index: 10;
}

.searchBtn:hover {
  transform: translateY(-2px);
  background-color: #45327a;
}

.searchBtn:active {
  transform: translateY(0);
}

.searchIcon {
  width: 32px;
  height: 32px;
  fill: none;
  stroke: white;
  stroke-width: 2.5;
  stroke-linecap: round;
  stroke-linejoin: round;
}

.spinnerWrapper {
  position: absolute;
  right: 15px;
  top: 18px;
  pointer-events: none;
}

.errorMsg {
  color: #ff4d4d;
  margin-top: 15px;
  font-size: 16px;
  font-weight: bolder;
  display: flex;
  align-items: flex-start;
  gap: 5px;
}

@media screen and (max-width:600px){
  .searchWrapper{
    width: 85%;
  }
}




