.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: 'Inter', sans-serif;
}

.searchWrapper {
  display: flex;
  align-items: center;
  gap: 15px;
}

.inputCard {
    background-color: #3b2a63;
    border-radius: 10px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;
    width: 80vw;
    max-width: 700px;
}

/* Optional: Highlight card if there is an error */
.inputCardError {
  border: 1px solid #ff4d4d;
}

.labelRow {
  display: flex;
  align-items: center;
  gap: 8px;
  padding-top: 10px;
}

.labelText {
  color: #a394c2;
  opacity:0.5;
  font-size: 12px;
  letter-spacing: 0.5px;
  margin-left: 15px
}

.statusDot {
  width: 8px;
  height: 8px;
  background-color: #ff4d4d;
  border-radius: 50%;
  box-shadow: 0 0 5px #ff4d4d;
}

.customInput {
  background-color: #3b2a63;
  border:none;
  border-radius: 10px;
  padding: 15px 15px;
  padding-top: 4px;
  color: #a394c2;
  font-size: 18px;
  outline: none;
}

.customInput::placeholder {
  color: #7a6ba8;
}

.searchBtn {
  background-color: #1f1637;
  border: none;
  border-radius: 10px;
  width: 70px;
  height: 70px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
}

.searchBtn:hover {
  transform: translateY(-2px);
  background-color: #45327a;
}

.searchBtn:active {
  transform: translateY(0);
}

.searchIcon {
  width: 32px;
  height: 32px;
  fill: none;
  stroke: white;
  stroke-width: 2.5;
  stroke-linecap: round;
  stroke-linejoin: round;
}

.errorMsg {
  color: #ffbcbc;
  margin-top: 15px;
  font-size: 14px;
  font-weight: bolder;
  display: flex;
  align-items: center;
  gap: 20px;
}


svg{
  width: 30px;
  height: 30px;
}

@media screen and (max-width: 600px) {
 .inputCard{
   width: 70vw
 }
}