.dashboard {
  position: relative;
  width: 80vw;
  max-width: 700px;
  background: var(--dashboard-bg); 
  backdrop-filter: blur(15px);
  border-radius: 40px;
  padding: 40px 45px;
  color: #ffffff;
  margin-top: 100px; 
  box-shadow: 0 30px 60px rgba(0, 0, 0, 0.3);
  border: 1px solid var(--dashboard-border)
}

.floatingIcon {
  position: absolute;
  top: -110px; 
  right: -60px;
  z-index: 10;
}

.floatingIcon img {
  width: 320px; 
  filter: drop-shadow(0 20px 40px rgba(0, 0, 0, 0.4));
}

.todayLabel {
  font-size: 16px;
  margin: 0;
  display:flex; 
  color:var(--today-label)
}

.temp {
  font-size: 120px; 
  font-weight: 700;
  margin: 5px 0;
  line-height: 1;
  display: flex;
  color: var(--temp-label);
  position: relative;
  right: 12px;
}

.highLow {
  font-size: 15px;
  color:var(--today-label);
  display: flex;
  margin: 0;
}

.locationRow {
  display: flex;
  font-size: 14px;
  justify-content: space-between;
}

.cityLabel { font-weight: 700;color:var(--city-label)}
.extraInfo {color: var(--extra-info-labels); }


.historyBox {
  background: #3b2a63;
  border-radius: 12px;
  padding: 12px;
  margin-top: 20px;
}

.historyTitle {
  font-size: 14px;
  display: flex; 
  opacity: 0.8;
  margin-left: 8px;
}

.historyRow {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--history-row-bg);
  padding: 12px 20px;
  border-radius: 12px;
  font-size: 14px;
  color: var(--history-row-label)
}

.historyLoc { font-weight: 500; }

.historyRight {
  display: flex;
  align-items: center;
  gap: 20px;
  color:var(--history-row-right-label)
}

.historyDate {
  font-size: 13px;
}

.historyActions {
  display: flex;
  gap: 10px;
}

.circleBtn {
  width: 34px;
  height: 34px;
  border-radius: 50%;
  border: 2px solid var(--history-btn-border);
  background: var(--history-btn-bg);
  color: white;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.2s;
  font-size: 12px;
}

.circleBtn:hover {
  background: var(--history-btn-border-hover);
  border-color: white;
}

.historyContainer{
  margin-top: 20px;
  padding: 20px;
  background: var(--history-container-bg);
  border-radius: 20px;
}

.searcHistory{
   color: var(--today-label);
    padding: 0;
    margin: 0 8px;
    margin-bottom: 10px;
    display: flex;
}